@model InventoryTrackingApp.Models.Product

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Profit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Profit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Time_Cost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Time_Cost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ResourceNames)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ResourceNames)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ResourceCounts)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ResourceCounts)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
